body{
	height: 100%;
	width: 100%;
	position: absolute;
}

/*头部通栏*/
.topbar{
	height: 45px;
	width: 100%;
	background: url("../img/header-bg.png") repeat-x;
	background-size: 1px 44px;
	border-bottom: 1px solid #e0e0e0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.topbar .icon_back{
	background-position: -20px 0;
	width: 20px;
	height: 20px;
	display: block;
	margin:12px 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.topbar form{
	
	height: 44px;
	padding: 0 40px;
}

.topbar form input{
	width: 100%;
	height: 32px;
	border:1px solid #bfbfbf;
	border-radius:4px;
	margin-top: 6px;
}

.topbar .icon_menu{
	background-position: -60px 0;
	width: 20px;
	height: 22px;
	display: block;
	padding:12px 10px;
	background-clip: content-box;/**背景被裁剪到边框盒**/
	background-origin: content-box;/**背景图像相对于内边距框来定位**/
	position: absolute;
	top:0;
	right:0;
}
.category{
	height: 100%;
	width: 100%;
	padding-top: 45px;
}
.left_category{
	width: 90px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 45px;
	z-index: 999;
}
.left_category .left_category_box ul{
	-webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;

}
.left_category .left_category_box ul li{
	height: 50px;
    width: 90px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    line-height: 49px;
    text-align: center;
    background: #f3f4f6;
}
.left_category .left_category_box ul li.now{
	background-color: #fff;
}

.left_category .left_category_box ul li.now a{
	color: #d8505c;
}
.left_category .left_category_box ul li a{
	color: #000;
    font-family: sans-serif;
    font-size: 12px;
    display: block;
}
.right_category{
	background-color: #fff;
	width: 100%;
	padding-left: 90px;
	height: 100%;
}
.right_category .right_category_con{
	padding: 10px 12px;
}
.right_category .right_category_con .banner{
    width: 100%;
}
.right_category .right_category_con .catType{
	font-size: 12px;
    font-family: sans-serif;
    margin-top: 10px;
}
.right_category .right_category_con .catType h3{
	line-height: 20px;
    font-size: 12px;
    color: #888;
}
.right_category .right_category_con .catType ul li{
	width: 33.33%;
    text-align: center;
    float: left;
    margin-top: 10px;
}
.right_category .right_category_con .catType ul li img{
	height: 62px;
}
.right_category .right_category_con .catType ul li p{
	line-height: 20px;
}