body{
	height: 100%;
	width: 100%;
	position: absolute;
}

/*头部通栏*/
.topbar{
	height: 45px;
	width: 100%;
	background: url("../img/header-bg.png") repeat-x;
	background-size: 1px 44px;
	border-bottom: 1px solid #e0e0e0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.topbar .icon_back{
	background-position: -20px 0;
	width: 20px;
	height: 20px;
	display: block;
	margin:12px 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.topbar form{
	
	height: 44px;
	padding: 0 40px;
}

.topbar form input{
	width: 100%;
	height: 32px;
	border:1px solid #bfbfbf;
	border-radius:4px;
	margin-top: 6px;
}

.topbar .icon_menu{
	background-position: -60px 0;
	width: 20px;
	height: 22px;
	display: block;
	padding:12px 10px;
	background-clip: content-box;/**背景被裁剪到边框盒**/
	background-origin: content-box;/**背景图像相对于内边距框来定位**/
	position: absolute;
	top:0;
	right:0;
}
.category{
	height: 100%;
	width: 100%;
	padding-top: 45px;
}
.left_category{
	width: 90px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 45px;
	z-index: 999;
}
.right_category{
	width: 100%;
	padding-left: 90px;
	height: 100%;

}